<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.comnect.comnectpay105">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pay_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Comnectpay105">
        <activity
            android:name=".InitialConfig"
            android:exported="false" />
        <activity
            android:name=".ImpressaoActivity"
            android:exported="false" />
        <activity
            android:name=".CardNumberActivity"
            android:exported="false" />
        <activity
            android:name=".CallScopePay"
            android:exported="false" />
        <activity
            android:name=".ValueKeyboardActivity"
            android:exported="false" />
        <activity
            android:name=".EstornoActivity"
            android:exported="false" />
        <activity
            android:name=".CardTypeActivity"
            android:exported="false"
            android:label="@string/title_activity_card_type"
            android:theme="@style/Theme.Comnectpay105.NoActionBar" />
        <activity
            android:name=".PixActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".startPaymentService"
            android:exported="false" />
    </application>

</manifest>